<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="AccessKeyID" value="" />
		<add key="SecretAccessKey" value="" />
		<add key="SenderEmail" value=""/>
		<add key="RecipientEmail" value=""/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
